<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for items in id %}
    <div>
        {{ items.url_to_image }}
        <img src="{{ items.image }}" alt="{{ items.news_title }} poster" class="img-responsive">
        <h1>
         {{items.news_title}}
         

        </h1>
        <p>
          {{items.overview}}
        </p>
        
        
        <a href="{{items.article_url}}">
            Open
        </a>
        {{items.id}}
        
    </div>
    {% endfor %}
</body>
</html